<p id="notice"><%= notice %></p>

<p>
  <b>Nama atm:</b>
  <%= @atm.nama_atm %>
</p>

<p>
  <b>Lat:</b>
  <%= @atm.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @atm.lng %>
</p>


<%= link_to 'Edit', edit_atm_path(@atm) %> |
<%= link_to 'Back', atms_path %>
