<script type="text/javascript">
  var map;
  var center = new google.maps.LatLng(-8.67829132, 115.21475983);
  var marker = null;

  $(document).ready(function(){
    //tampilkan peta
      map = new google.maps.Map(document.getElementById("maps_form"), {
        center              : center,
        zoom                : 12,
        draggableCursor     :'crosshair',
        mapTypeId           : 'roadmap',
      });
    //end

    var latAtm = $("#atm_lat").val();
    var lngAtm = $("#atm_lng").val();
    var posAtm = new google.maps.LatLng(latAtm, lngAtm);
    marker = new google.maps.Marker({
      position: posAtm,
      map: map
    });

    google.maps.event.addListener(map, 'click', function(event) {
      if (marker) marker.setMap(null);
      marker = new google.maps.Marker({
          position: event.latLng,
          map: map
      });

      $("#atm_lat").val(marker.getPosition().lat());
      $("#atm_lng").val(marker.getPosition().lng());
    });

  });
</script>

<% if current_user.user_role_id == 1 %>
  <%= form_for(@atm) do |f| %>
    <% if @atm.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@atm.errors.count, "error") %> prohibited this atm from being saved:</h2>

        <ul>
        <% @atm.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="span3">
      <div class="field">
        <%= f.label :nama_atm, "Nama ATM" %>
        <%= f.text_field :nama_atm %>
      </div>
      <div class="field">
        <%= f.label :lat, "Latitude" %>
        <%= f.text_field :lat %>
      </div>
      <div class="field">
        <%= f.label :lng, "Longitude" %>
        <%= f.text_field :lng %>
      </div>
      <div class="field">
        <%= f.label :icon, "Marker Icon" %>
        <%= f.text_field :icon %>
      </div>
      <div class="field">
        <%= f.label :picture, "Gambar" %>
        <%= f.text_field :picture %>
      </div>
      <div class="field">
        <%= f.label :bank_id, "Bank" %>
        <%= f.collection_select(:bank_id, Bank.all, :id, :nama_bank, {:prompt => true}) %>
      </div>
      <div class="field">
        <%= f.label :kategori_atm_id, "Kategori ATM" %>
        <%= f.collection_select(:kategori_atm_id, KategoriAtm.all, :id, :nama_kategori, {:prompt => true}) %>
      </div>
      <div class="field">
        <%= f.label :lokasi_atm_id, "Lokasi ATM" %>
        <%= f.collection_select(:lokasi_atm_id, LokasiAtm.all, :id, :nama_lokasi, {:prompt => true}) %>
      </div>
      <div class="field">
        <%= f.label :min_transaksi_id, "Minimal Transaksi" %>
        <%= f.collection_select(:min_transaksi_id, MinTransaksi.all, :id, :nominal, {:prompt => true}) %>
      </div>

      <% if current_user.user_role_id == 1 %>
        <div class="field">
          <%= f.label :is_approved, "Pilih Status Atm" %>
          <%= f.select :is_approved, [['Diterima', 1], ['Menunggu', 0], ['Tidak Diterima', 2]], prompt: true %>
        </div>
      <% else %>
        <% if @atm.new_record? %>
          <%= f.hidden_field :is_approved, value: 0 %>
        <% else %>
          <%= f.hidden_field :is_approved %>
        <% end %>
      <% end %>
      <br />
      <% if @atm.new_record? %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      <% else %>
        <%= f.hidden_field :user_id %>
      <% end %>

      <div class="actions">
        <%= f.submit "Simpan", class: "btn btn-primary" %>
        <%= link_to "Kembali", atms_path, class: "btn" %>
      </div>
    </div>
  <% end %>

<% else %>

  <%= form_for(@atm, url: create_atm_user_atms_path(@atm) ) do |f| %>
    <% if @atm.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@atm.errors.count, "error") %> prohibited this atm from being saved:</h2>

        <ul>
        <% @atm.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="span3">
      <div class="field">
        <%= f.label :nama_atm, "Nama ATM" %>
        <%= f.text_field :nama_atm %>
      </div>
      <div class="field">
        <%= f.label :lat, "Latitude" %>
        <%= f.text_field :lat %>
      </div>
      <div class="field">
        <%= f.label :lng, "Longitude" %>
        <%= f.text_field :lng %>
      </div>
      <div class="field">
        <%= f.label :icon, "Marker Icon" %>
        <%= f.text_field :icon %>
      </div>
      <div class="field">
        <%= f.label :picture, "Gambar" %>
        <%= f.text_field :picture %>
      </div>
      <div class="field">
        <%= f.label :bank_id, "Bank" %>
        <%= f.collection_select(:bank_id, Bank.all, :id, :nama_bank, {:prompt => true}) %>
      </div>
      <div class="field">
        <%= f.label :kategori_atm_id, "Kategori ATM" %>
        <%= f.collection_select(:kategori_atm_id, KategoriAtm.all, :id, :nama_kategori, {:prompt => true}) %>
      </div>
      <div class="field">
        <%= f.label :lokasi_atm_id, "Lokasi ATM" %>
        <%= f.collection_select(:lokasi_atm_id, LokasiAtm.all, :id, :nama_lokasi, {:prompt => true}) %>
      </div>
      <div class="field">
        <%= f.label :min_transaksi_id, "Minimal Transaksi" %>
        <%= f.collection_select(:min_transaksi_id, MinTransaksi.all, :id, :nominal, {:prompt => true}) %>
      </div><br />

      <%= f.hidden_field :is_approved, value: 0 %>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <div class="actions">
        <%= f.submit "Simpan", class: "btn btn-primary" %>
        <%= link_to "Kembali", index_atm_user_atms_path, class: "btn" %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="span8">
  <div class="text-error">*Klik pada peta untuk menentukan posisi ATM <b>(Latitude/Longitude)</b>!</div>
  <div id="maps_form" class="well"></div>
</div>
