<div class="span10">
  <table class="table table-striped table-bordered">
    <tr>
      <th>Nama ATM</th>
      <th>Nama Bank</th>
      <th>Kategori ATM</th>
      <th>Minimal Transaksi</th>
      <th>Lokasi ATM</th>
      <th>Pilihan</th>
    </tr>

  <% @atms.each do |atm| %>
    <tr>
      <td><%= atm.nama_atm %></td>
      <td><%= atm.bank.nama_bank %></td>
      <td><%= atm.kategori_atm.nama_kategori %></td>
      <td><%= atm.min_transaksi.nominal %></td>
      <td><%= atm.lokasi_atm.nama_lokasi %></td>
      <td>
        <%= link_to 'Lihat', atm %> |
        <%= link_to 'Edit', edit_atm_path(atm) %> |
        <%= link_to 'Delete', atm, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </table>

  <%= link_to '+ Tambah', new_atm_path, class: "btn btn-primary" %>
</div>