<div class="accordion-group">
  <div class="accordion-heading">
    <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
      <b>ATM</b>
    </div>
  </div>
  <div id="collapseFour" class="accordion-body collapse in">
    <div class="accordion-inner">
      <ul class="unstyled">
        <% Bank.all.each do |bank| %>
          <li>
            <label class="checkbox">
              <input type="checkbox" class="checkbox-bank" id="<%= bank.nama_bank %>cbx" name="checkbox_<%= bank.nama_bank %>" value="<%= bank.nama_bank %>" checked />
              <label for="<%= bank.nama_bank %>cbx"><%= bank.nama_bank %></label>
            </label>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>