<script type="text/javascript">
  //global variable
    var map;
    var infoWindow = new google.maps.InfoWindow;
    var center = new google.maps.LatLng(-8.67829132, 115.21475983);
    var geocoder;
    var markerDestArr = [];
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var circle = null;
    var markerArr = [];
    var markerposArr = [];
    var markersrcArr = [];
  //end

  //initialize = fungsi yang akan dipanggil dalam document ready untuk menjalankan fungsi-fungsi lain yang ada di dalamnya.
  $(document).ready(function(){
    // function initialize() {
      geocoder = new google.maps.Geocoder();
      map = new google.maps.Map(document.getElementById("mapsGoogle"), {
        center              : center,
        zoom                : 12,
        disableDefaultUI    : true,
        mapTypeId           : 'roadmap',
      });

      //tampilkan marker ATM
        $.getJSON("home.json",function(data) {
          for(var i=0; i<data.length; i++){
            var point = new google.maps.LatLng(parseFloat(data[i].lat),parseFloat(data[i].lng));
            var nama_atm = data[i].nama_atm;
            var nama_bank = data[i].nama_bank;
            var nama_lokasi = data[i].nama_lokasi;
            var kategori_atm = data[i].nama_kategori;
            var min_transaksi = data[i].nominal;
            var atmId = data[i].id;
            var bankId = data[i].bank_id;
            var mtransaksiId = data[i].min_transaksi_id;
            var lokasiId = data[i].lokasi_atm_id;
            var kategoriId = data[i].kategori_atm_id;
            var icon = data[i].icon;
            var gambar = data[i].picture;
            var nama_user = data[i].nama_lengkap;
            var role_user = data[i].user_role_id;
            
            // Cek Ditambahkan oleh berdasarkan role id untuk user dan nama_lengkap untuk admin
            if(role_user.toString() === "1"){
              var cek_nama_user = "Admin"
            }else{
              var cek_nama_user = nama_user
            }

            var iconStr = JSON.stringify(icon);
            var iconStrSlice = iconStr.slice(8, -2);

            var gambarStr = JSON.stringify(gambar);
            var gambarStrSlice = gambarStr.slice(8, -2);

            var html =  "<b>"+ nama_atm +"</b>"+
                        "<br/>Bank: <b>"+ nama_bank +"</b>"+
                        "<br/>Lokasi: <b>"+ nama_lokasi +"</b>"+
                        "<br/>Kategori: <b>"+ kategori_atm +"</b>"+
                        "<br/>Min Transaksi: <b>"+ min_transaksi +"</b>"+
                        "<br/>Ditambahkan Oleh: <b>"+ cek_nama_user +"</b>"+
                        "<br/><img src='"+gambarStrSlice+"' width='150px'>"+
                        "<br/>Jarak Terdekat: <b id='jarakhasil'></b>";

            var marker = new google.maps.Marker({
              map: map,
              position: point,
              icon: iconStrSlice
            });
            
            InfoWindow(marker, map, infoWindow, html, nama_atm);
            markerArr.push({marker:marker, atm:nama_atm, bank:nama_bank, lokasi:nama_lokasi, atm_id:atmId, poss:point, bank_id:bankId, min_t_id:mtransaksiId, lokasi_id:lokasiId, kategori_id:kategoriId, is_show_bank:"show", is_show_mtrans:"show", is_show_category:"show", is_show_lokasi:"show"});
          };
        });

        //tampilkan infowindow setiap marker ATM
          function InfoWindow(marker, map, infoWindow, html, nama_atm) {
            google.maps.event.addListener(marker, 'click', function() {
              // map.setZoom(15);
              map.setCenter(marker.getPosition());
              $("#latTujuan").val(marker.getPosition().lat());
              $("#lngTujuan").val(marker.getPosition().lng());
              var xx = marker.getPosition().lat();
              var yy = marker.getPosition().lng();
              var endPoint = xx + "," + yy;
              callDistance(endPoint);
              showRoute();
              $("#tujuan").html(nama_atm);
              $("#collapseOne").collapse('hide');
              $("#collapseFour").collapse('hide');
              $("#collapseTwo").collapse('show');
              <% Atm.all.each do |atm| %>
                var atmLabel = $("#atm<%= atm.id %>").data('atm');
                if(atmLabel == nama_atm){
                  $("#atm<%= atm.id %>").prop('checked', true);
                }
              <% end %>
              infoWindow.open(map, marker);
              infoWindow.setContent(html);
            });

            google.maps.event.addListener(map, 'click', function() {
              infoWindow.close();
            });
          };
        //end
      //end

      //untuk menentukan posisi awal dengan click map (Manual Set Location)
      function SetClickMap(){
        google.maps.event.addListener(map, 'click', function(event) {
          clearMarkerDest();
          clearMarkerSrc();
          clearMarkerPos();
          $("#collapseOne").collapse('hide');
          $("#collapseTwo").collapse('show');
          $("#collapseThree").collapse('hide');
          $("#collapseFour").collapse('hide');
          $("#directionsPanel").html("");
          $("#distance").html("");
          directionsDisplay.setMap(null);
          var markerDest = new google.maps.Marker({
              position: event.latLng,
              icon: "assets/user.png",
              map: map
          });
          markerDestArr.push(markerDest);

          $("#latAsal").val(markerDest.getPosition().lat());
          $("#lngAsal").val(markerDest.getPosition().lng());
          var koordinat = new google.maps.LatLng(markerDest.getPosition().lat(), markerDest.getPosition().lng());
          codeLatLng(koordinat);

          callRadius('center', markerDest, 'position')
        });
      };
    //end

    //menentukan posisi awal dengan sensor (Web Location)
      function webLocation() {
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var markerpos = new google.maps.Marker({
              map: map,
              position: pos,
              icon: "assets/user.png"
            });
            markerposArr.push(markerpos);
            map.setCenter(pos);
            callRadius('center', markerpos, 'position');
            clearMarkerDest();
            clearMarkerSrc();
            $("#collapseOne").collapse('hide');
            $("#collapseFour").collapse('hide');
            $("#collapseTwo").collapse('show');
            $("#latAsal").val(markerpos.getPosition().lat());
            $("#lngAsal").val(markerpos.getPosition().lng());
            var koordinat = new google.maps.LatLng(markerpos.getPosition().lat(), markerpos.getPosition().lng());
            codeLatLng(koordinat);
          },  function() {
                handleNoGeolocation(true);
              });
        }   
        else {
          handleNoGeolocation(false);
        }
      };
    //end

    //menentukan posisi dengan pencarian berdasarkan nama lokasi
      function codeAddress() {
        var address = document.getElementById('address').value;
        geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var koor = results[0].geometry.location;
            var markersrc = new google.maps.Marker({
              map: map,
              position: koor,
              icon: "assets/user.png"
            });
            markersrcArr.push(markersrc);
            map.setCenter(koor);
            callRadius('center', markersrc, 'position');
            clearMarkerDest();
            clearMarkerPos();
            $("#collapseOne").collapse('hide');
            $("#collapseFour").collapse('hide');
            $("#collapseTwo").collapse('show');
            $("#latAsal").val(markersrc.getPosition().lat());
            $("#lngAsal").val(markersrc.getPosition().lng());
            var koordinat = new google.maps.LatLng(markersrc.getPosition().lat(), markersrc.getPosition().lng());
            codeLatLng(koordinat);
          } else {
              alert('Pencarian tidak berhasil! ' + status);
          }
        });
      }
    //end

    //fungsi untuk menghilangkan marker Posisi awal (Manual/Sensor/Address)
      function clearMarkerDest() {
        for (var i = 0; i < markerDestArr.length; i++ ) {
          markerDestArr[i].setMap(null);
        }
      }

      function clearMarkerPos() {
        for (var i = 0; i < markerposArr.length; i++ ) {
          markerposArr[i].setMap(null);
        }
      }

      function clearMarkerSrc() {
        for (var i = 0; i < markersrcArr.length; i++ ) {
          markersrcArr[i].setMap(null);
        }
      }
    //end

    //radius
      function callRadius(center, marker, position) {
        if($('#setRadius').is(':checked')){ 
          var radiusRange = parseInt(document.getElementById('radius').value, 10)*1000;
        }
        if(radiusRange < 0){
          alert("Tidak dapat memasukkan nilai radius..");
          return false;
        }
        if (circle) circle.setMap(null);
        $("#atmTerdekat li").remove();
        circle = new google.maps.Circle({
          map: map,
          radius: radiusRange,
          strokeColor: "#00f",
          strokeOpacity: 0.3,
          strokeWeight: 2,
          fillColor: "#00f",
          fillOpacity: 0.07
        });
        
        circle.bindTo(center, marker, position);
        
        var myBounds = circle.getBounds();
        for(var i=markerArr.length; i--;){
          // $(".checkbox-bank:checked").each(function(){
            // var chbxBank = $(this).val();
            // if(markerArr[i].bank_id == chbxBank){
              if($('#setRadius').is(':checked')){
                if(!myBounds.contains(markerArr[i].marker.getPosition())){
                  markerArr[i].marker.setMap(null);
                }
                else{
                  if (markerArr[i].is_show_bank == "show") {
                    if (markerArr[i].is_show_mtrans == "show") {
                      if (markerArr[i].is_show_category == "show") {
                        if (markerArr[i].is_show_lokasi == "show") {
                          markerArr[i].marker.setMap(map);
                          $("#atmTerdekat").append("<li><label class='radio'>"+"<input type='radio' name='radioButton' id='atm"+markerArr[i].atm_id+"' class='atm-terdekat' data-posisi='"+markerArr[i].poss+"' data-atm='"+markerArr[i].atm+"' value='"+markerArr[i].atm_id+"' />"+markerArr[i].atm+"</label></li>");
                        }
                      }
                    }
                  }
                }
              }
              else{
                if (markerArr[i].is_show_bank == "show") {
                  if (markerArr[i].is_show_mtrans == "show") {
                    if (markerArr[i].is_show_category == "show") {
                      if (markerArr[i].is_show_lokasi == "show") {
                        markerArr[i].marker.setMap(map);
                        $("#atmTerdekat").append("<li><label class='radio'>"+"<input type='radio' name='radioButton' id='atm"+markerArr[i].atm_id+"' class='atm-terdekat' data-posisi='"+markerArr[i].poss+"' data-atm='"+markerArr[i].atm+"' value='"+markerArr[i].atm_id+"' />"+markerArr[i].atm+"</label></li>");
                      }
                    }
                  }
                }
              }
            // }
          // });
        };
      };
    //end

    //reverse geocode
      function codeLatLng(koordinat) {
        geocoder.geocode({'latLng': koordinat}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            if (results[1]) {
              document.getElementById("asal").innerHTML = results[1].formatted_address;
            } else {
              alert('No results found');
            }
          } else {
            alert('Geocoder failed due to: ' + status);
          }
        });
      }
    //end

    //Filter Marker Bank
      function showMarkerBank(bank) {
        for (var i=0; i<markerArr.length; i++) {
          if (markerArr[i].bank_id == bank) {
            if (markerArr[i].is_show_mtrans == "show") {
              if (markerArr[i].is_show_category == "show") {
                if (markerArr[i].is_show_lokasi == "show") {
                  markerArr[i].marker.setMap(map);
                }
              }
            }
            markerArr[i].is_show_bank = "show";
          }
        }
        document.getElementById("chbx_bank_"+bank).checked = true;
      };

      function hideMarkerBank(bank) {
        for (var i=0; i<markerArr.length; i++) {
          if (markerArr[i].bank_id == bank) {
            markerArr[i].marker.setMap(null);
            markerArr[i].is_show_bank = "hide";
          }
        }
        document.getElementById("chbx_bank_"+bank).checked = false;
      };

      function checkboxBank(box,bank) {
        if (box.checked) {
          showMarkerBank(bank);
        } else {
          hideMarkerBank(bank);
        }
      };

      $(".checkbox-bank").each(function(){
        var cbxBankId = $(this).val();
        $("body").on("click","#chbx_bank_"+cbxBankId+"", function() {
          checkboxBank(this, cbxBankId);
        });
      });
    //end

    //Filter Marker Min Transaksi
      function showMarkerMinTransaksi(min_transaksi) {
        for (var i=0; i<markerArr.length; i++) {
          if (markerArr[i].min_t_id == min_transaksi) {
            if (markerArr[i].is_show_bank == "show") {
              if (markerArr[i].is_show_category == "show") {
                if (markerArr[i].is_show_lokasi == "show") {
                  markerArr[i].marker.setMap(map);
                }
              }
            }
            markerArr[i].is_show_mtrans = "show"
          }
        }
        document.getElementById("chbx_mtransaksi_"+min_transaksi).checked = true;
      };

      function hideMarkerMinTransaksi(min_transaksi) {
        for (var i=0; i<markerArr.length; i++) {
          if (markerArr[i].min_t_id == min_transaksi) {
            markerArr[i].marker.setMap(null);
            markerArr[i].is_show_mtrans = "hide"
          }
        }
        document.getElementById("chbx_mtransaksi_"+min_transaksi).checked = false;
      };

      function checkboxMinTransaksi(box,min_transaksi) {
        if(box.checked){
          showMarkerMinTransaksi(min_transaksi);
        }
        else{
          hideMarkerMinTransaksi(min_transaksi);
        }
      };

      $(".checkbox-min-transaksi").each(function(){
        var cbxMinTranId = $(this).val();
        $("body").on("click","#chbx_mtransaksi_"+cbxMinTranId+"", function() {
          checkboxMinTransaksi(this, cbxMinTranId);
        });
      });
    //end

    //Filter Marker Kategori
      function showMarkerKategori(kategori) {
        for (var i=0; i<markerArr.length; i++) {
          if (markerArr[i].kategori_id == kategori) {
            if (markerArr[i].is_show_bank == "show") {
              if (markerArr[i].is_show_mtrans == "show") {
                if (markerArr[i].is_show_lokasi == "show") {
                  markerArr[i].marker.setMap(map);
                }
              }
            }
            markerArr[i].is_show_category = "show"
          }
        }
        document.getElementById("chbx_kategori_"+kategori).checked = true;
      };

      function hideMarkerKategori(kategori) {
        for (var i=0; i<markerArr.length; i++) {
          if (markerArr[i].kategori_id == kategori) {
            markerArr[i].marker.setMap(null);
            markerArr[i].is_show_category = "hide"
          }
        }
        document.getElementById("chbx_kategori_"+kategori).checked = false;
      };

      function checkboxKategori(box,kategori) {
        if(box.checked){
          showMarkerKategori(kategori);
        }
        else{
          hideMarkerKategori(kategori);
        }
      };

      $(".checkbox-kategori").each(function(){
        var cbxKateId = $(this).val();
        $("body").on("click","#chbx_kategori_"+cbxKateId+"", function() {
          checkboxKategori(this, cbxKateId);
        });
      });
    //end

    //Filter Marker Lokasi
      function showMarkerLokasi(lokasi) {
        for (var i=0; i<markerArr.length; i++) {
          if (markerArr[i].lokasi_id == lokasi) {
            if (markerArr[i].is_show_bank == "show") {
              if (markerArr[i].is_show_mtrans == "show") {
                if (markerArr[i].is_show_category == "show") {
                  markerArr[i].marker.setMap(map);
                }
              }
            }
            markerArr[i].is_show_lokasi = "show"
          }
        }
        document.getElementById("chbx_lokasi_"+lokasi).checked = true;
      };

      function hideMarkerLokasi(lokasi) {
        for (var i=0; i<markerArr.length; i++) {
          if (markerArr[i].lokasi_id == lokasi) {
            markerArr[i].marker.setMap(null);
            markerArr[i].is_show_lokasi = "hide"
          }
        }
        document.getElementById("chbx_lokasi_"+lokasi).checked = false;
      };

      function checkboxLokasi(box,lokasi) {
        if(box.checked){
          showMarkerLokasi(lokasi);
        }
        else{
          hideMarkerLokasi(lokasi);
        }
      };

      $(".checkbox-lokasi").each(function(){
        var cbxLokasiId = $(this).val();
        $("body").on("click","#chbx_lokasi_"+cbxLokasiId+"", function() {
          checkboxLokasi(this, cbxLokasiId);
        });
      });
    //end

    //set location control with radio
      $("#btnSetLocation").click(function(){
        if($('#checkBox').is(':checked')){
          alert("Silahkan tentukan lokasi anda dengan klik pada peta!");
          SetClickMap();
        }
        else if($('#radioWebLocation').is(':checked')){
          webLocation();
        }
        else if($('#radioSearchAdd').is(':checked')){
          codeAddress();
        }
      });
    //

    $("#reloadMap").click(function() {
      for (var i=0; i<markerArr.length; i++) {
        markerArr[i].marker.setMap(null);
        markerArr[i].marker.setMap(map);
      }
      clearMarkerDest();
      clearMarkerPos();
      clearMarkerSrc();
      if (circle) circle.setMap(null);
      $("#atmTerdekat").html("");
      $(".checkbox-filter").prop('checked', true);
      $("#setRadius").prop('checked', false);
      $("input#radius").val($("input#radius").data("default"));
      directionsDisplay.setMap(null);
      infoWindow.close();
    });

    //map control
      $("#mapControl").click(function(){
      //for zoom control
        if($('#zoomControl').is(':checked')){
          map.setOptions({zoomControl:true,disableDoubleClickZoom:true});
        }else{
          map.setOptions({zoomControl:false,disableDoubleClickZoom:true});
        }
      //end

      //for pan control
        if($('#panControl').is(':checked')){
          map.setOptions({panControl:true,draggable:true});
        }else{
          map.setOptions({panControl:false,draggable:true});
        }
      //end
      });
    //end
    
    // };
  //end

  //show rute from atm tujuan list
    <% Atm.all.each do |atm| %>
      $("body").on("click", "#atm<%= atm.id %>", function(){
        if($("#atm<%= atm.id %>").is(":checked")){
          var posisiAtmLat = $(this).data("posisi").split(",")[0];
          var posisiAtmLng = $(this).data("posisi").split(",")[1];
          var posisiAtmLatStr = posisiAtmLat.toString();
          var posisiAtmLngStr = posisiAtmLng.toString();
          var posisiAtmLatStrFix = posisiAtmLatStr.slice(1);
          var posisiAtmLngStrFix = posisiAtmLngStr.split(")")[0];
          var koordinatAtm = new google.maps.LatLng(posisiAtmLatStrFix, posisiAtmLngStrFix);
          // map.setCenter(koordinatAtm);
          for (var i=0; i<markerArr.length; i++) {
            if($(this).data("atm") == markerArr[i].atm)
            google.maps.event.trigger(markerArr[i].marker,"click");
          }
          showRoute();
        }
      });
    <% end %>
  //end

    $("#centerMap").click(function(){
      var center = new google.maps.LatLng(-8.67829132, 115.21475983);
      map.setCenter(center);
      map.setZoom(12);
    });

    $("#showRoute").click(function() {
      showRoute();
      $("#collapseTwo").collapse('hide');
      $("#collapseThree").collapse('show');
    });
  });

  directionsDisplay = new google.maps.DirectionsRenderer({
    suppressMarkers: true
  });

  function callDistance(endPoint) {
    // directionsDisplay.setMap(null);
    $("#directionsPanel").hide();
    var a = document.getElementById("latAsal").value;
    var b = document.getElementById("lngAsal").value;
    var startPoint = a + "," + b;
    var request = {
      origin: startPoint,
      destination: endPoint,
      provideRouteAlternatives: true,
      travelMode: google.maps.DirectionsTravelMode.DRIVING
    };

    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);

        var route = response.routes[0];
        for (var i = 0; i < route.legs.length; i++) {
          $("#distance").html(route.legs[i].distance.text);
          $("#jarakhasil").html(route.legs[i].distance.text);
        }
      }
      else {                      
        alert ('Tidak dapat menghitung jarak ATM!, Tentukan lokasi Anda saat ini terlebih dahulu');
      }
    });
  }

  function showRoute() {
    directionsDisplay.setMap(map);
    directionsDisplay.setPanel(document.getElementById("directionsPanel"));
    $("#directionsPanel").show();
    var a = document.getElementById("latAsal").value;
    var b = document.getElementById("lngAsal").value;
    var startPoint = a + "," + b;

    var x = document.getElementById("latTujuan").value;
    var y = document.getElementById("lngTujuan").value;
    var endPoint = x + "," + y;
    var request = {
      origin: startPoint,
      destination: endPoint,
      provideRouteAlternatives: true,
      travelMode: google.maps.DirectionsTravelMode.DRIVING
    };

    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
      else {                      
        directionsDisplay.setMap(null);
        alert ('Pencarian tidak berhasil!');
      }
    });
  }

</script>

<!-- The navbar -->
<%#= render "home/navbar_top" %>

<!-- The content -->
<div class="row-fluid">
  <div class="span9">
    <div class="content-map">
      <div id="mapsGoogle"></div>
    </div>
  </div>
  <div class="span3">
    <div class="side-menu">
      <div class="accordion" id="accordion2">
        <%= render "home/map_control" %>
        <%= render "home/filter" %>
        <%= render "home/set_lokasi" %>
        <%= render "home/destinasi" %>
        <%= render "home/hasil" %>
      </div>
    </div>
  </div>
</div>