<script type="text/javascript">
  //global variable
    var map;
    var infoWindow = new google.maps.InfoWindow;
    var center = new google.maps.LatLng(-8.67829132, 115.21475983);
    var geocoder;
    var markerDestArr = [];
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var circle = null;
    var markerArr = [];
    var markerposArr = [];
    var markersrcArr = [];
  //end

  //initialize
    function initialize() {
      geocoder = new google.maps.Geocoder();
      map = new google.maps.Map(document.getElementById("mapsGoogle"), {
        center              : center,
        zoom                : 12,
        // disableDefaultUI    : true,
        mapTypeId           : 'roadmap',
      });

      //tampilkan marker ATM
        $.getJSON("home.json",function(data) {
          for(var i=0; i<data.length; i++){
            var point = new google.maps.LatLng(parseFloat(data[i].lat),parseFloat(data[i].lng));
            var nama_atm = data[i].nama_atm;
            var nama_bank = data[i].nama_bank;
            var nama_lokasi = data[i].nama_lokasi;
            var kategori_atm = data[i].nama_kategori;
            var min_transaksi = data[i].nominal;
            // var id = data[i].id;
            var icon = data[i].icon;
            var html =  "<b>"+ nama_atm +"</b>"+
                        "<br/>Bank: <b>"+ nama_bank +"</b>"+
                        "<br/>Lokasi: <b>"+ nama_lokasi +"</b>"+
                        "<br/>Kategori: <b>"+ kategori_atm +"</b>"+
                        "<br/>Min Transaksi: <b>"+ min_transaksi +"</b>"+
                        "<hr size='1'>";

            var marker = new google.maps.Marker({
              map: map,
              position: point,
              icon: "assets/"+icon
            });
            
            InfoWindow(marker, map, infoWindow, html, nama_atm);
            markerArr.push({marker:marker, bank:nama_bank, lokasi:nama_lokasi});
          };
        });

        //tampilkan infowindow setiap marker
          function InfoWindow(marker, map, infoWindow, html, nama_atm) {
            google.maps.event.addListener(marker, 'click', function() {
              infoWindow.setContent(html);
              infoWindow.open(map, marker);
              // map.setZoom(15);
              map.setCenter(marker.getPosition());
              $("#latTujuan").val(marker.getPosition().lat());
              $("#lngTujuan").val(marker.getPosition().lng());
              var xx = marker.getPosition().lat();
              var yy = marker.getPosition().lng();
              var endPoint = xx + "," + yy;
              callDistance(endPoint);
              $("#tujuan").html(nama_atm);
            });

            google.maps.event.addListener(map, 'click', function() {
              infoWindow.close();
            });
          };
        //end
      //end

      //function for manual set location clicked maps
      google.maps.event.addListener(map, 'click', function(event) {
        if($('#checkBox').is(':checked')){
          clearMarkerDest();
          clearMarkerSrc();
          clearMarkerPos();
          $("#collapseOne").collapse('hide');
          $("#collapseFour").collapse('hide');
          $("#collapseTwo").collapse('show');
          var markerDest = new google.maps.Marker({
              position: event.latLng,
              icon: "assets/user.png",
              map: map
          });
          markerDestArr.push(markerDest);

          $("#latAsal").val(markerDest.getPosition().lat());
          $("#lngAsal").val(markerDest.getPosition().lng());
          var koordinat = new google.maps.LatLng(markerDest.getPosition().lat(), markerDest.getPosition().lng());
          codeLatLng(koordinat);

          callRadius('center', markerDest, 'position')
        }else{ 
          infoWindow.close();
        }
      });
    //end

    //add location by sensor
      $("#getLocation").click(function() {
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var markerpos = new google.maps.Marker({
              map: map,
              position: pos,
              icon: "assets/user.png"
            });
            markerposArr.push(markerpos);
            map.setCenter(pos);
            callRadius('center', markerpos, 'position');
            clearMarkerDest();
            clearMarkerSrc();
            $("#collapseOne").collapse('hide');
            $("#collapseFour").collapse('hide');
            $("#collapseTwo").collapse('show');
            $("#latAsal").val(markerpos.getPosition().lat());
            $("#lngAsal").val(markerpos.getPosition().lng());
            var koordinat = new google.maps.LatLng(markerpos.getPosition().lat(), markerpos.getPosition().lng());
            codeLatLng(koordinat);
          },  function() {
                handleNoGeolocation(true);
              });
        }   
        else {
          handleNoGeolocation(false);
        }
      });
    //end

    //for address search
      function codeAddress() {
        var address = document.getElementById('address').value;
        geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var koor = results[0].geometry.location;
            var markersrc = new google.maps.Marker({
              map: map,
              position: koor,
              icon: "assets/user.png"
            });
            markersrcArr.push(markersrc);
            map.setCenter(koor);
            callRadius('center', markersrc, 'position');
            clearMarkerDest();
            clearMarkerPos();
            $("#collapseOne").collapse('hide');
            $("#collapseFour").collapse('hide');
            $("#collapseTwo").collapse('show');
            $("#latAsal").val(markersrc.getPosition().lat());
            $("#lngAsal").val(markersrc.getPosition().lng());
            var koordinat = new google.maps.LatLng(markersrc.getPosition().lat(), markersrc.getPosition().lng());
            codeLatLng(koordinat);
          } else {
              alert('Pencarian tidak berhasil! ' + status);
          }
        });
      }

      //button search function
        $('#btn_search').click(function() {
          codeAddress();
        });
      //end

      //this code for submit input text with enter button
        $('#address').on('keyup', function(e) {
          if (e.keyCode === 13) {
            $('#btn_search').click();
          }
        });
      //end
    //end

    //this code for clear the marker destination marker > then 1
      function clearMarkerDest() {
        for (var i = 0; i < markerDestArr.length; i++ ) {
          markerDestArr[i].setMap(null);
        }
      }

      function clearMarkerPos() {
        for (var i = 0; i < markerposArr.length; i++ ) {
          markerposArr[i].setMap(null);
        }
      }

      function clearMarkerSrc() {
        for (var i = 0; i < markersrcArr.length; i++ ) {
          markersrcArr[i].setMap(null);
        }
      }
    //end

    //for radius radius
      function callRadius(center, marker, position) {
        var radiusRange = parseInt(document.getElementById('radius').value, 10)*1000;
        if (circle) circle.setMap(null);
        circle = new google.maps.Circle({
          map: map,
          radius: radiusRange,
          strokeColor: "#00f",
          strokeOpacity: 0.3,
          strokeWeight: 2,
          fillColor: "#00f",
          fillOpacity: 0.07
        });
        
        circle.bindTo(center, marker, position);
        
        var myBounds = circle.getBounds();
        for(var i=markerArr.length; i--;){
          if(!myBounds.contains(markerArr[i].marker.getPosition())){
            markerArr[i].marker.setMap(null);
          }
        };
      };
    //end

    //code for reverse geocode
      function codeLatLng(koordinat) {
        geocoder.geocode({'latLng': koordinat}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            if (results[1]) {
              document.getElementById("asal").innerHTML = results[1].formatted_address;
            } else {
              alert('No results found');
            }
          } else {
            alert('Geocoder failed due to: ' + status);
          }
        });
      }
    //end

    //filter marker
      function showBank(bank) {
        for (var i=0; i<markerArr.length; i++) {
          if (markerArr[i].bank == bank) {
            markerArr[i].marker.setMap(map);
          }
        }
        document.getElementById(bank+"cbx").checked = true;
      };

      function hideBank(bank) {
        for (var i=0; i<markerArr.length; i++) {
          if (markerArr[i].bank == bank) {
            markerArr[i].marker.setMap(null);
          }
        }
        document.getElementById(bank+"cbx").checked = false;
      };

      function cboxclick(box,bank) {
        if (box.checked) {
          showBank(bank);
        } else {
          hideBank(bank);
        }
      };

      <% Bank.all.each do |bank| %>
        $('#<%= bank.nama_bank %>cbx').click(function () {
          cboxclick(this, '<%= bank.nama_bank %>');
        });
      <% end %>
    //end
    
    };
  //end

  $(document).ready(function(){
    initialize();

    $("#reloadMap").click(function() {
      // initialize();
      location.reload();
    });

    $("#centerMap").click(function(){
      var center = new google.maps.LatLng(-8.67829132, 115.21475983);
      map.setCenter(center);
    });

    $("#showRoute").click(function() {
      showRoute();
      $("#collapseTwo").collapse('hide');
      $("#collapseThree").collapse('show');
    });
  });

  directionsDisplay = new google.maps.DirectionsRenderer({
    suppressMarkers: true
  });

  function callDistance(endPoint) {
    directionsDisplay.setMap(null);
    $("#directionsPanel").hide();
    var a = document.getElementById("latAsal").value;
    var b = document.getElementById("lngAsal").value;
    var startPoint = a + "," + b;
    var request = {
      origin: startPoint,
      destination: endPoint,
      provideRouteAlternatives: true,
      travelMode: google.maps.DirectionsTravelMode.DRIVING
    };

    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);

        var route = response.routes[0];
        for (var i = 0; i < route.legs.length; i++) {
          $("#distance").html(route.legs[i].distance.text);
        }
      }
      else {                      
        alert ('Tidak dapat menghitung jarak ATM!, Tentukan lokasi Anda saat ini terlebih dahulu');
      }
    });
  }

  function showRoute() {
    directionsDisplay.setMap(map);
    directionsDisplay.setPanel(document.getElementById("directionsPanel"));
    $("#directionsPanel").show();
    var a = document.getElementById("latAsal").value;
    var b = document.getElementById("lngAsal").value;
    var startPoint = a + "," + b;

    var x = document.getElementById("latTujuan").value;
    var y = document.getElementById("lngTujuan").value;
    var endPoint = x + "," + y;
    var request = {
      origin: startPoint,
      destination: endPoint,
      provideRouteAlternatives: true,
      travelMode: google.maps.DirectionsTravelMode.DRIVING
    };

    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
      else {                      
        directionsDisplay.setMap(null);
        alert ('Pencarian tidak berhasil!');
      }
    });
  }

  // google.maps.event.addDomListener(window, 'load', initialize);
</script>

<!-- The navbar -->
<%= render "home/navbar_top" %>

<!-- The content -->
<div class="row-fluid">
  <div class="span9">
    <div class="content-map">
      <div id="mapsGoogle"></div>
    </div>
  </div>
  <div class="span3">
    <div class="side-menu">
      <div class="accordion" id="accordion2">
        <%= render "home/map_control" %>
        <%= render "home/atm" %>
        <%= render "home/set_lokasi" %>
        <%= render "home/destinasi" %>
        <%= render "home/hasil" %>
      </div>
    </div>
  </div>
</div>