<%= form_for(@kategori_atm) do |f| %>
  <% if @kategori_atm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kategori_atm.errors.count, "error") %> prohibited this kategori_atm from being saved:</h2>

      <ul>
      <% @kategori_atm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nama_kategori %><br />
    <%= f.text_field :nama_kategori %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
